*.sw?
*.o
*.a
*.so
*.lo
*.la
src/Makefile
src/autom4te.cache
src/config.h
src/config.log
src/config.status
src/configure
src/mpsse_wrap.c
src/pylibmpsse.py

src/examples/bitbang
src/examples/ds1305
src/examples/gpio
src/examples/i2ceeprom
src/examples/spiflash
src/examples/spiflashfast

.deps*
.libs*
Makefile
Makefile.in
aclocal.m4
ar-lib
autoscan.log
build
build/*
compile
config.guess
config.sub
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4
m4/*
missing
mpsse_wrap_python.c
py-compile
pyswig_*.c
